.notfound__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 13rem 0;
    min-height: 35vh;
  }
  
  .notfound__container a {
    color: #f74046;
    outline: none;
    text-decoration: none;
    border: none;
    font-weight: bolder;
  }
  .notfound__container a:hover{
    color: #df0910;

  }
  
  .notfound__container .notfound--code {
    border-right: 3px solid #e5e5e5;
  }
  
  .notfound__container .notfound--code h1 {
    font-size: 5rem;
  }