.bg {
  height: 110vh;
  width: 110%;
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  filter: blur(4px);
  z-index: 0;
}

.card {
  height: 500px;
  width: 380px;
  margin-bottom: 3rem;
  background-color: white;
  position: relative;
  z-index: 1;
}

.top {
  height: 50%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

.category {
  background-color: #ff2e3a;
  width: 100px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
}

h2 {
  padding: 22px 22px 0;
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
  padding: 0 0 0 22px;
  line-height: 24px;
}

.intro {
  width: 100%;
}

.card a:link,
a:visited {
  text-decoration: none;
  color: #;
}

.card a:hover {
  color: #ff2e3a;
  transition: 0.3s;
}

.author {
  display: flex;
  align-items: center;
}

.profile {
  background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 10px 0 10px 22px;
}

.name {
  padding-left: 10px;
  cursor: pointer;
  font-weight: 300;
}

.name a {
  font-weight: 400;
  color: #ff2e3a;
}

.info {
  display: flex;
  color: #999;
  font-size: 14px;
  margin-top: 8px;
  padding-left: 0;
}

.info a {
  cursor: pointer;
}

ion-icon {
  height: 20px;
  width: 20px;
  display: flex;
  padding: 10px 8px 0 22px;
}
.bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.intro {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
